:root {
  --black: #382b26;
  --white:  #b8c2b9;

  --trueblack: #000;
  --green: #83b07e;

  --tan: #f6e7c1;
  --grey: #3e3e3e;
}

body {
  background-color: var(--grey);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  max-width: 1225px;
  display: grid;
  color: var(--tan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

h1 {
 color: var(--tan);
 text-decoration-color: black;
}

h2 {
 text-decoration-color: black;
}

h3 {
  color: var(--white);
 text-decoration-color: black; 
 text-shadow: 1px 1px black; 
}

h4 {
  color: white; 
}

p {
  color: white;
  text-decoration-color: white; 
}

a {
  color: lightblue;
}

li {
  color: white; 
}

.home {
  margin: 25px;
}

.home > h2 {
  text-decoration: line-through;
  text-decoration-color: var(--black);
}

.about {
  margin: 25px; 
}

.contact {
  margin: 25px; 
}

.contact > a {
  font-size: 1.25rem;
}

.contact > button {
  font-size: 1.25rem;
}

.showcase {
  margin: 20px; 
}

.funstuff {
  margin: 20px; 
}

.list-label {
  color: var(--tan);
  text-shadow:  1px white; 
}

/* buttons */

.navButton {
  color: white;
  text-decoration: none;
  margin: 0em 5em 5em 0
}

.contactButton {
    color: white;
    text-decoration: none;
    margin: 0em 5em 5em 0

}

.navButtonBar {
  margin: 20px;
}

.email {
  background: none;
  border-style: none;
}

/* project showcase */

.showcase-container {
  display: flex;
  margin-top: 150px;
  flex-direction: row;
}

/* flip card animation in project showcase */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--tan);
  color: white;
  height: 300px;
  max-width: 250px;
  border-radius: 5%;
  transform: rotateY(180deg);
}

.flip-card-back > h1 {
  color: var(--grey);
  text-shadow: 2px 2px var(--white);
  font-weight: bold;
  text-transform: lowercase;
}

.flip-card-back > a  {
  font-size: 1.25rem;
  color: var(--grey);
  text-shadow: 1px 1px var(--black);
  text-decoration: none;
  text-transform: lowercase;
}

.flip-card-back > p {
  color: var(--grey);
  text-transform: lowercase;
}